# Dependencias
node_modules/
.pnpm-store/

# Next.js y Salidas de Compilación
.next/
out/
build/
dist/

# OpenNext & Cloudflare Workers
.open-next/
.wrangler/

# Variables de Entorno y Secretos Locales
.env
.env*.local
.env.development
.env.production
.dev.vars

# Prisma y Bases de Datos Locales
*.db
*.db-journal
dev.db
dev.db-journal

# TypeScript, Turbo y Cachés
*.tsbuildinfo
.turbo/

# Registros (Logs)
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Pruebas y Cobertura
coverage/
.nyc_output/

# Sistema Operativo
.DS_Store
Thumbs.db
*.pem

# IDEs y Editores
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.sw?